<a href="https://colab.research.google.com/github/isha764/ds1002-qpt4eq/blob/main/Copy_of_week_8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## While-Loops

Perform the following steps in code:
1. Define a variable and populate it with `0`.
2. Create a while statement that evaluates whether that variable is less than or equal to `20`.
3. Within the while loop evaluate if the variable value is even or odd.
4. Within the while loop, if the variable value is even, print it. If not, do not print it.
5. Within the while loop, finally add `1` to the variable before it repeats.

In [24]:
var1=0
while var1<= 20:
  #I've tried to do a print command but it ends up printing like 5000 values and makes colab glitchy

SyntaxError: ignored

## For-Loops with Lists

In [ ]:
# Use this list in the exercises below

mylist = [9, 15, 23, 4, 92, 47, 33, 17, -4, 18, 38, -242]

In [ ]:
# Write a command to print out all the values of this list
# EXCEPT for any negative values. Omit them from the printing.
mylist = [9, 15, 23, 4, 92, 47, 33, 17, -4, 18, 38, -242]
for item in mylist:
  if item>= 0:
    print(item)

9
15
23
4
92
47
33
17
18
38

In [ ]:
# Repeat the command from above, but this time get
# the absolute value of any negative values in the list
# and print those with the other items.
mylist = [9, 15, 23, 4, 92, 47, 33, 17, -4, 18, 38, -242]
for item in mylist:
  if item<0:
    print(abs(item))

4
242

In [ ]:
# Similar to above, write a command to print out items in
# the list but omit any values greater than 20 and less than 40.
mylist = [9, 15, 23, 4, 92, 47, 33, 17, -4, 18, 38, -242]
for item in mylist:
  if item <=20 or item>= 40:
    print(item)

9
15
4
92
47
17
-4
18
-242

## For-Loops with Dictionaries

In [ ]:
capitals = {'United States':'Washington DC',
          'Italy':'Rome',
          'England':'London',
          'Thailand':'Bangkok',
          'Brazil':'Brasilia'}

In [ ]:
# Write a command to print out all the keys of this dict

for country in capitals.keys():
  print(country)

United States
Italy
England
Thailand
Brazil

In [ ]:
# Write a command to print out all the values of this dict
for capital in capitals.values():
    print(capital)

Washington DC
Rome
London
Bangkok
Brasilia

In [ ]:
# Write a command to print all the keys and values for this dict
for country, capital in capitals.items():
    print(f'{country}: {capital}')

United States: Washington DC
Italy: Rome
England: London
Thailand: Bangkok
Brazil: Brasilia

In [26]:
# Write a command to print only the first three values and NOTHING more.
#sorry i couldn't figure out this last part either

TypeError: ignored