<a href="https://colab.research.google.com/github/isha764/ds1002-qpt4eq/blob/main/Copy_of_week_13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Homework - Week 13

Complete the following blocks as specified in the directions. Run each cell to return the desired output. Save your notebook back to your GitHub repository and submit the GitHub URL to your notebook for review.

## 1. Change Runtime to R (1 pt)

Change the runtime of this notebook to R. You can verify that you are running R by displaying the current version you are running. Run the cell below and show the output.

In [1]:
version

               _
platform       x86_64-pc-linux-gnu
arch           x86_64
os             linux-gnu
system         x86_64, linux-gnu
status
major          4
minor          3.2
year           2023
month          10
day            31
svn rev        85441
language       R
version.string R version 4.3.2 (2023-10-31)
nickname       Eye Holes

## 2. Create Vectors (2 pts)

Create two vectors in the cells below, according to the prompts given.

In [2]:
# create a vector with 7 integer values. Assign it to a variable named "my_integers"
my_integers <- c(5, 10, 15, 20, 25, 30, 35)

In [3]:
var1 = 8
var2 = 4
var3 = 12
var4 = 25

# Using the variables given above, assign three new variables the following calculated values:
# 1. Your first variable should be assigned the calculated value of var2 divided by var1.
# 2. Your second variable should be assigned the calculated value of var2 cubed times var3.
# 3. Your third variable should be assigned the calculated value of var4 integer divided by var3.
#
# Next, create an array populated by your three variables. Assign the array to a new variable named "my_calculated_values"

var1 <- 8
var2 <- 4
var3 <- 12
var4 <- 25

# Calculated values
calculated_value_1 <- var2 / var1
calculated_value_2 <- var2^3 * var3
calculated_value_3 <- var4 %/% var3

# Create an array with the calculated values
my_calculated_values <- c(calculated_value_1, calculated_value_2, calculated_value_3)

# Display the array
print(my_calculated_values)

[1]   0.5 768.0   2.0

## 3. Vector Indexes (3 pts)

In the cell below, create a vector that starts with the integer 4, that increments by counts of 3 all the way to 28.

Assign the vector to a variable name.

In [26]:
my_vector <- seq(from = 4, to = 28, by = 3)

# Display the vector
print(my_vector)

[1]  4  7 10 13 16 19 22 25 28

Next, show how to display this vector with the 3 index removed.

In [22]:
my_vector <- seq(from = 4, to = 28, by = 3)

# Remove the element at the 3rd index
my_vector_without_3rd <- my_vector[-3]

# Display the modified vector
print(my_vector_without_3rd)

[1]  4  7 13 16 19 22 25 28

Finally, show how to delete the 4th, 5th, and 7th indexes from the vector and update the vector so they are forever removed from the vector.

Hint: there is a fairly simple way to do this in one line, such that you don't have to run a separate command for each removal.

In [24]:
my_vector <- my_vector[-c(4, 5, 7)]
print(my_vector)

[1]  4  7 10 28

## 4. Create a Data Frame (3 pts)

In the cell below create a data frame with 10 observations (rows) and 5 variables (columns) each. This data frame will describe some of your favorite musical performers. You can use real or fictitious data to populate your data frame.

Variables:
  - `artist` - Artist or band name
  - `category` - Rock, Pop, Country, Hip-hop, Jazz, Classical, Soul, Other. (Try to distribute your selections here)
  - `size` - (number of members, 1-?)
  - `start` - Debut year of artist.
  - `grammy` - Grammmy winner? `TRUE` | `FALSE`

First create vectors for each variable populated with your own performer data. Then create a data frame from these vectors (be sure to assign column names too) and assign it to a named variable such as `df`.

In [11]:
#
favorite_performers <- data.frame(
  artist = c("Taylor Swift", "BeyoncÃ©", "Ed Sheeran", "Adele", "Drake",
           "Rihanna", "Bruno Mars", "Ariana Grande", "Justin Bieber", "BTS"),
  category = c("Pop", "R&B", "Pop", "Pop", "Hip-Hop",
            "R&B", "Pop", "Pop", "Pop", "Alternative/Pop-Rock"),
  size = c(1, 1, 1, 1, 1, 1, 1, 1,1 , 7),
  start = c(2006, 2003, 2004, 2008, 2010,2005, 2006, 2013, 2009, 2013),
  grammy = c(TRUE, TRUE, TRUE, TRUE, TRUE, TRUE, TRUE, TRUE, TRUE, FALSE)
)

## 5. Filter/Query a Data Frame (2 pts)

Use the data frame you created above and show how to perform the following queries.

In [12]:
# Display the first 3 records and only the `artist`, `category` and `grammy` columns for each.
subset_data <- favorite_performers[1:3, c("artist", "category", "grammy")]
print(subset_data)

        artist category grammy
1 Taylor Swift      Pop   TRUE
2      BeyoncÃ©      R&B   TRUE
3   Ed Sheeran      Pop   TRUE

In [17]:
# Display the records for just one musical category, such as only Rock bands or only Hip-hop bands.
pop_bands <- favorite_performers[favorite_performers$category == "Pop", ]

# Display the records for Pop bands
print(pop_bands)

         artist category size start grammy
1  Taylor Swift      Pop    1  2006   TRUE
3    Ed Sheeran      Pop    1  2004   TRUE
4         Adele      Pop    1  2008   TRUE
7    Bruno Mars      Pop    1  2006   TRUE
8 Ariana Grande      Pop    1  2013   TRUE
9 Justin Bieber      Pop    1  2009   TRUE

## Query a Data Frame using `tidyverse` (4 pts)

1. Show how to load the library.
2. Show how to glimpse basic features of the `starwars` data table.
3. Create a query using tidyverse that retrieves the following data:
    - Selects only these columns: `name`, `height`, `sex`, `species`.
    - Filters for all species that are NOT Human.
    - Arranges the resulting data in order by name.

Show your output in a data frame.

In [21]:
library(tidyverse)
glimpse(starwars)
result <- starwars %>%
  select(name, height, sex, species) %>%
  filter(species != "Human") %>%
  arrange(name)
print(result)

Rows: 87
Columns: 14
$ name       <chr> "Luke Skywalker", "C-3PO", "R2-D2", "Darth Vader", "Leia Orâ¦
$ height     <int> 172, 167, 96, 202, 150, 178, 165, 97, 183, 182, 188, 180, 2â¦
$ mass       <dbl> 77.0, 75.0, 32.0, 136.0, 49.0, 120.0, 75.0, 32.0, 84.0, 77.â¦
$ hair_color <chr> "blond", NA, NA, "none", "brown", "brown, grey", "brown", Nâ¦
$ skin_color <chr> "fair", "gold", "white, blue", "white", "light", "light", "â¦
$ eye_color  <chr> "blue", "yellow", "red", "yellow", "brown", "blue", "blue",â¦
$ birth_year <dbl> 19.0, 112.0, 33.0, 41.9, 19.0, 52.0, 47.0, NA, 24.0, 57.0, â¦
$ sex        <chr> "male", "none", "none", "male", "female", "male", "female",â¦
$ gender     <chr> "masculine", "masculine", "masculine", "masculine", "feminiâ¦
$ homeworld  <chr> "Tatooine", "Tatooine", "Naboo", "Tatooine", "Alderaan", "Tâ¦
$ species    <chr> "Human", "Droid", "Droid", "Human", "Human", "Human", "Humaâ¦
$ films      <list> <"The Empire Strikes Back", "Revenge of the Sith", "Returnâ¦
$ vehicles   <list> <"Snowspeeder", "Imperial Speeder Bike">, <>, <>, <>, "Impâ¦
$ starships  <list> <"X-wing", "Imperial shuttle">, <>, <>, "TIE Advanced x1",â¦
# A tibble: 48 Ã 4
   name           height sex    species
   <chr>           <int> <chr>  <chr>
 1 Ackbar            180 male   Mon Calamari
 2 Adi Gallia        184 female Tholothian
 3 Ayla Secura       178 female Twi'lek
 4 BB8                NA none   Droid
 5 Barriss Offee     166 female Mirialan
 6 Ben Quadinaros    163 male   Toong
 7 Bib Fortuna       180 male   Twi'lek
 8 Bossk             190 male   Trandoshan
 9 C-3PO             167 none   Droid
10 Chewbacca         228 male   Wookiee
# â¹ 38 more rows